<md-toolbar color="primary" class="app-toolbar">
    <button md-button class="app-icon-button" (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
    <span class="app-toolbar-title" routerLink="/">Angular Ecommerce</span>
    <span class="app-toolbar-filler"></span>
</md-toolbar>
<md-sidenav-container class="container">
  <md-sidenav #sidenav [mode]="isDesktop() ? 'side' : 'over'" [opened]="isDesktop()" class="sidenav">
    <md-list>
        <md-list-item class="sidenav-item">
            <md-icon class="material-icons" color="primary">home</md-icon>
            <span>Home</span>
        </md-list-item>
        <md-list-item class="sidenav-item">
            <md-icon class="material-icons" color="primary">location_on</md-icon>
            <div>Locations</div>
        </md-list-item>
        <md-list-item class="sidenav-item">
            <md-icon class="material-icons" color="primary">people</md-icon>
            <span>Members</span>
        </md-list-item>
    </md-list>
  </md-sidenav>
  <div class="app-content">
      <h1 i18n>Hello World!</h1> people
  </div>
</md-sidenav-container>