<mat-list>
    <ng-container *ngFor="let item of items">
        <mat-list-item class="sidenav-item" routerLink="{{ item.path }}" *ngIf="item.nav">
            <mat-icon class="material-icons" color="primary">{{ item.icon }}</mat-icon>
            <span>{{ item.name }}</span>
        </mat-list-item>
    </ng-container>
    <mat-list-item class="language">
        <mat-select placeholder="Language" [(ngModel)]="language" (change)="onChange()">
            <mat-option value="en" >English</mat-option>
            <mat-option value="fr">French</mat-option>
            <mat-option value="es">Spanish</mat-option>
        </mat-select>
    </mat-list-item>
</mat-list>