<md-list>
    <ng-container *ngFor="let item of items">
        <md-list-item class="sidenav-item" routerLink="{{ item.path }}" *ngIf="item.nav">
            <md-icon class="material-icons" color="primary">{{ item.icon }}</md-icon>
            <span>{{ item.name }}</span>
        </md-list-item>
    </ng-container>
    <md-list-item class="language">
        <md-select placeholder="Language" [(ngModel)]="language" (change)="onChange()">
            <md-option value="en" >English</md-option>
            <md-option value="fr">French</md-option>
            <md-option value="es">Spanish</md-option>
        </md-select>
    </md-list-item>
</md-list>